---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>Photography</strong> by Haydon Glover</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
            {% if image.path contains 'fulls' %}
                <article class="thumb">
                    <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" data-name="{{ image.name }}"/></a>
                    <!--<h2></h2>
                    <p></p>-->
                </article>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Hey there, my name is Haydon</h2>
                    <p><b>Portraits</b>
                    <br>30-minute session - $150: <i>1 outfit and 1 location of your choice</i>
                    <br>1-hour session - $250: <i>3 outfits and 1 location of your choice</i></p>
                </section>
                <section>
                    <h2>Follow me on <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram"><span
                                class="label">Instagram</span></a>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}.
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <p><a href="mailto:haydonglover@gmail.com">haydonlglover@gmail.com</a> or by phone: 903-436-2179</p>
                    <p>$50 deposit is required to set the date in my calendar and that will go towards the price of the shoot. Full payment must be paid after the shoot.</p>
                    <p>If you have any other type of photos you would like rather than portraits, please contact me to set up pricing and location.</p>
                </section>
            </div>
        </div>
    </footer>
</div>